In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.metrics import confusion_matrix
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [2]:
salary_train=pd.read_csv("E:\\data science\\assiments\\12\\SalaryData_Train.csv")

In [3]:
salary_test=pd.read_csv("E:\\data science\\assiments\\12\\SalaryData_Test.csv")

In [4]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
string_col = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [6]:
labelencoder = LabelEncoder()

In [7]:
for i in string_col:
    salary_train[i]= labelencoder.fit_transform( salary_train[i])
    salary_test[i]=labelencoder.fit_transform(salary_test[i])

In [8]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,<=50K
1,50,4,9,13,2,3,0,4,1,0,0,13,37,<=50K
2,38,2,11,9,0,5,1,4,1,0,0,40,37,<=50K
3,53,2,1,7,2,5,0,2,1,0,0,40,37,<=50K
4,28,2,9,13,2,9,5,2,0,0,0,40,4,<=50K

In [9]:
mapping = {' >50K': 1, ' <=50K': 2}

In [10]:
salary_train = salary_train.replace({'Salary': mapping})
salary_test = salary_test.replace({'Salary': mapping})

In [11]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,2
1,50,4,9,13,2,3,0,4,1,0,0,13,37,2
2,38,2,11,9,0,5,1,4,1,0,0,40,37,2
3,53,2,1,7,2,5,0,2,1,0,0,40,37,2
4,28,2,9,13,2,9,5,2,0,0,0,40,4,2

## Naive Bayes

In [12]:
x_train = salary_train.iloc[:,0:13]
y_train = salary_train.iloc[:,13]
x_test = salary_test.iloc[:,0:13]
y_test = salary_test.iloc[:,13]

## Multinomial Naive Bayes

In [13]:
classifier_mb = MB()

In [14]:
classifier_mb.fit(x_train,y_train)

MultinomialNB()

In [15]:
y_pred_mb=classifier_mb.predict(x_test)

In [16]:
cm=confusion_matrix(y_test,y_pred_mb)
cm

array([[  780,  2920],
       [  469, 10891]], dtype=int64)

In [17]:
print ("Accuracy",np.mean(y_pred_mb==y_test.values.flatten()))

Accuracy 0.7749667994687915

 ## Gaussian Naive Bayes

In [18]:
classifier_gb = GaussianNB()

In [19]:
classifier_gb.fit(x_train,y_train)

GaussianNB()

In [20]:
y_pred_gb=classifier_gb.predict(x_test)

In [21]:
cm=confusion_matrix(y_test,y_pred_gb)
cm

array([[ 1209,  2491],
       [  601, 10759]], dtype=int64)

In [22]:
print ("Accuracy",np.mean(y_pred_gb==y_test.values.flatten()))

Accuracy 0.7946879150066402

#### GaussianNB Model has a better Accuracy